

.main-page{
    background-image: url(images/sakunaBG.jpeg);
    background-size: cover;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.center-area{
    border-style: solid;
    border-color: white;
    height: 400px;
    width: 400px;
    display: flex;   
}
.script-wrapper{
    color: white;
    border: solid;
    border-color: white;
    width: 400px;
    height: 400px;

    font-weight: bold;
    font-size: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center-area-script{
        font-size: 35px;
        font-family: 'Courier New', Courier, monospace;
        /* margin: 13px; */
        line-height: 80px;
              
}

.button-wrapper{
color:white;
border-style: solid;
border-radius: 35%;
border-color:white;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;
}

.blank-container{
    width: 100px;
}

